.footer{
    width: 100%;
    background-color: #e7e3da;
    height: 200px;
    display: flex;
    justify-content: end;
    font-family: 'Pretendard', sans-serif;

    position: fixed;
    bottom: 0; 
    left: 0;
    z-index: 3;
}


.footer .container{
    align-items: self-end;
    display: flex;
    justify-content: space-between;
}

.footer .container p{
    color: #1e1e1e;
    justify-content: end;
}

span{
    font-weight: bold;
}

.container > p {
    position: absolute;
    right: 208px;
    bottom: 35px;
    color: #2B2B2B;
}

.container > span {
    font-weight: 700;
}

/* search */
.searchBoxArea {
    position: absolute;
    left: 208px;
    bottom: 35px;
    display: flex;
}

.searchBoxArea > form {
    display: flex;
    flex-direction: row;
}

.searchBox {
    display: flex;
    gap: 10px;
}

.mic {
    padding-left: 5px;
}

.searchBox-input {
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}