@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

@import url('https://fonts.cdnfonts.com/css/quicksilver');

* {
    font-family: 'Pretendard', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

.nav-container{
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 56px;
}

.nav-topics{
    display: flex;
    gap: 40px;
}

.nav-item > a:link {
  color : #f9f8f4;
}
.nav-item > a:visited {
  color : #f9f8f4;
}
.nav-item > a:hover {
  color : #f9f8f4;
}
.nav-item > a:active {
  color : #f9f8f4
}

button{
    cursor: pointer;
    all: unset;
}

button:hover{
    cursor: pointer;
}

.primary-button {
  display: inline-block;
  background-color: #f9f8f4;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  padding: 10px 25px;

  color: #1e1e1e;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.primary-button:hover {
  background-color: #696969;
  transition: transform 0.8s,  background-color 0.3s;
  color: #f9f8f4;
  cursor: pointer;
}

.logout-button {
  display: inline-block;
  background-color: #1e1e1e;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  padding: 10px 25px;

  color: #f9f8f4;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logout-button:hover{
  background-color: #696969;
  transition: transform 0.8s,  background-color 0.3s;
  color: #1e1e1e;
  cursor: pointer;
}

.row-box{
    display: flex;
    align-items: center;
    gap: 20px;
  }

.logo-wrap {
  width: 100%;
  margin: auto;
  position: relative;
}

.logo-wrap img {
  width: 100%;
  vertical-align: middle;
}

#logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  color: #1E1E1E;
  text-align: center;
  font-family: 'Quicksilver', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  letter-spacing: -1.4px;
}