textarea{
    resize: none;
    height: 500px;
}

body{
    background-color: #f9f8f4;
}

a {
    text-decoration: none;
    color: #111;
}

.main {
    position: relative;
    top: 104px;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin-bottom: 400px;
}

.main > form {
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.post-write label {
    display: none;
}

.post-write p {
    padding-bottom: 10px;
}

#cke_id_content, #cke_1_bottom {
    border: none;
}

#cke_1_top {
    background-color: #fff;
}

#cke_1_bottom {
    display: none;
}

.post-write input {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border: none;

    width: 480px;
}

aside {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.box {
    border-radius: 2px;
    border: 1px solid #CAC8C5;
    width: 264px;
    flex-shrink: 0;
}

.ai-box {
    display: flex;
    height: 88px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.topic-box {
    display: flex;
    height: 175px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.upload-box {
    width: 264px;
    height: 175px;
    flex-shrink: 0;
}

.topic > p {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.topic-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    color: #000;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
}

input[type=radio] {
    width: 17px;
    height: 17px;
    stroke-width: 1px;
    stroke: #000;
}