{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"/>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>WHYLOG - {{ blog.title }}</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
      <div class="box-divider">
        {% comment %} 본문영역 {% endcomment %}
        <div class="big-box">
          <div class="post-info">
            <h5>{{ blog.upload_date | date:'Y m d'}} | by {{ blog.count }} 조회</h5>

            {% if request.user.id in like_post %}
                <span id="blog{{ blog.id }}" class="material-symbols-outlined favorite liked" onclick="toggleLike(this)">favorite</span>
            {% else %}
            <span id="blog{{ blog.id }}" class="material-symbols-outlined favorite" onclick="toggleLike(this)">favorite</span>
            {% endif %}
            {% if like_post|length > 0%}
              <span>{{ like_post|length }} liked</span>
            {% else %}
              <span style="display:none;">0</span>
            {% endif %}

            {% if blog.temporary %}
              <h5>임시저장된 글입니다.</h5>
            {% endif %}
            <h1>{% if blog.in_private %}<span class="material-symbols-outlined">lock</span>{% endif %} {{ blog.title }}</h1>
            <h5>{{ author_name }}</h5>
            <h5 class="topic-box">{{ blog.category.category }}</h5>
          </div>
          <div class="post-content">{{ blog.content | safe }}</div>
        </div>
        {% comment %} 추천글 영역 {% endcomment %}
        <div class="small-box">
          <div>
            <h3>Other posts</br>you may like</h3>

            {% for recommended_post in recommended_posts %}
              <div class="recommend-box">
                <a style="color: black" href="{% url 'board_detail' recommended_post.id %}">
                  <img src="{% static recommended_post.image_tag %}">
                  {{ recommended_post.title }}</a>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

      {% comment %} 댓글 영역 {% endcomment %}
        <div class="comment-box">
          <ul>
            {% for comment in comments %}
                <li>
                    <div class="comment">
                      <span class="comment-user">{{ comment.user }} | </span> 
                      <span class="comment-text">{{ comment.comment }} | </span>
                      <span class="comment-date">{{ comment.upload_date | date:'Y-m-d H:i:s'}}</span>

                      {% if user.is_authenticated %}
                        {% if comment.id in liked_comment %}
                          <span id="comment{{ comment.id }}" class="material-symbols-outlined favorite liked" onclick="toggleLike(this)">favorite</span> 
                        {% else %}
                          <span id="comment{{ comment.id }}" class="material-symbols-outlined favorite" onclick="toggleLike(this)">favorite</span>
                        {% endif %}
                      {% else %}
                        <span id="comment{{ comment.id }}" class="material-symbols-outlined favorite">favorite</span>
                      {% endif %}
                      {% if comment_like_count|get_from_dict:comment.id %}
                        <span class="comment-liked">{{ comment_like_count|get_from_dict:comment.id }} liked</span>
                      {% else %}
                        <span style="display:none;">0</span>
                      {% endif %}

                        {% if user.id == comment.user.id %}
                        <span class="material-symbols-outlined edit" data-comment-id="{{ comment.id }}">edit</span>
                        {% endif %}
                        {% if user.id == comment.user.id or user.id == 1 %}
                            <a href="{% url 'comment_delete' comment.id %}">
                              <span class="material-symbols-outlined">delete</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="edit-comment" style="display:none;">
                        <input type="text" class="edit-comment-input" value="{{ comment.comment }}">
                        <button class="save-comment">수정</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
      
        {% if blog.in_private == False or blog.user.id == request.user.id %}
        <form class="comment-input" method="POST" action="{% url 'comment_write' blog.id %}">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" name="comment-button" class="comment-button" value="댓글 작성" />
        </form>
        {% endif %}
      </div>

      {% if user.is_authenticated %}
      <div class="button-box">
        <div class="box-divider" style="gap:10px">
          {% if user.id == blog.user_id or user.id == 1 %}
          {% comment %} 수정버튼 {% endcomment %}
            <a href="{% url 'write' blog.id %}">
              <button class="edit-button">수정하기</button>
            </a>
            {% comment %} 삭제버튼 {% endcomment %}
            <form method="POST" action="{% url 'board_delete' blog.id %}">
              {% csrf_token %}
              <input type="hidden" name="delete-button" value="true">
              <button type="submit" class="delete-button">삭제하기</button>
            {% endif %}
            </form>
          </div>
        {% comment %} 공유버튼 {% endcomment %}
        <button class="share-button">공유하기</button>
      </div>
      {% else %}
      <div class="button-box-unauth">
        <button class="share-button">공유하기</button>
      </div>
      {% endif %}
      <!-- 다음글 표시 -->
      {% if next_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div class="post-tag">다음글</div>
          <div class="post-name">
            <a style="color: black" href="{% url 'board_detail' next_post.id %}">{{ next_post.title }}</a>
          </div>
        </div>
        <p>{{ next_post.upload_date | date:'Y m d' }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}

      <!-- 이전글 표시 -->
    {% if previous_post %}
      <div style="margin-bottom:20px" class="another-post-box">
        <div class="post-box">
          <div class="post-tag">이전글</div>
          <div class="post-name">
            <a style="color: black" href="{% url 'board_detail' previous_post.id %}">{{ previous_post.title }}</a>
          </div>
        </div>
        <p>{{ previous_post.upload_date | date:'Y m d' }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}
    </div>
    {% include 'footer.html' %}
</body>

<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
    
    document.addEventListener("DOMContentLoaded", function() {
    var editButtons = document.querySelectorAll(".edit");
    var saveButtons = document.querySelectorAll(".save-comment");

    for (var i = 0; i < editButtons.length; i++) {
        editButtons[i].addEventListener("click", function() {
            var commentId = this.getAttribute("data-comment-id");
            var commentTextElement = this.parentElement.querySelector(".comment-text");
            var editDiv = this.parentElement.parentElement.querySelector(".edit-comment");
            var editInput = editDiv.querySelector(".edit-comment-input");

            commentTextElement.style.display = "none";
            editInput.value = commentTextElement.textContent;
            editDiv.style.display = "block";
        });
    }

    for (var i = 0; i < saveButtons.length; i++) {
        saveButtons[i].addEventListener("click", function() {
            var commentId = this.parentElement.parentElement.querySelector(".edit").getAttribute("data-comment-id");
            var editDiv = this.parentElement;
            var editInput = editDiv.querySelector(".edit-comment-input");
            var commentTextElement = editDiv.parentElement.querySelector(".comment-text");

            var editedComment = editInput.value;
            var url = "/comment-edit/" + commentId;

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                body: "edited_comment=" + encodeURIComponent(editedComment)
            })
            .then(response => {
                if (response.ok) {
                    commentTextElement.textContent = editedComment;
                    commentTextElement.style.display = "inline";
                    editDiv.style.display = "none";
                }
            })
            .catch(error => {
                console.error("오류 발생:", error);
            });

            commentTextElement.textContent = editInput.value;
            commentTextElement.style.display = "inline";
            editDiv.style.display = "none";
        });
        }
    });

  </script>
  <script src="{% static 'js/notification.js' %}" defer></script>
  <script src="{% static 'js/board_detail.js' %}" defer></script>
</html>