{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}"/>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Board</title>
</head>
<body>
    
    {% include 'header.html' %}

    <div class="post-list">
        {% if not posts%}
        <script>
            window.onload = function() {
                alert('현재 페이지에 게시물이 없습니다.')   
            };
        </script>
        {% endif %}
        {% for post in posts %} {% if forloop.first %}
        <section class ="first-post-box">
            <div class="container">
                <div class="post-info-box">
                    <a href="/board-detail/{{post.id}}">
                        <h3>{{post.title}}</h3>
                        <p>{{post.content | remove_img_tags | safe }}</p>
                    </a>
                    <button onclick="location.href='/board-detail/{{post.id}}'">READ MORE</button>
                </div>
                <div class="thumbnail-img">
                    <img href="/board-detail/{{post.id}}" src="{% static post.image_tag %}">
                </div>
            </div>
        </section>
        {% endif %} {% endfor %}

        <main class="post-box">
            <div class="container">
    
                {% for post in posts %}{% if not forloop.first %}
                <div class="card">
                    <a href="/board-detail/{{post.id}}">
                        <div class="card-thumbnail-img">
                            <img src="{% static post.image_tag %}">
                        </div>
        
                        <div class="card-info-box">
                            <p>{{ post.upload_date | date:'Y-m-d H:i:s' }}</p>
                            <div class="post-title">
                                <h3>{{ post.title }}</h3>
                                <p class="post-comment">
                                    <span class="material-symbols-outlined">visibility</span>
                                    {{ post.counts }}
                                    <span class="material-symbols-outlined">favorite</span>
                                    {{ post.likes }}
                                    <span class="material-symbols-outlined">comment</span>
                                    {{ post.comments }}
                                </p>
                            </div>
                            <p>
                                {{ post.content | remove_img_tags | striptags | linebreaksbr }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endif %}{% endfor %}
            </div>
        </main>

    </div>

    {% include 'footer.html' %}

</body>
<script src="{% static 'js/notification.js' %}" defer></script>

</html>
