{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}"/>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
    <title>Document</title>
</head>
<body>
    
    {% include 'header.html' %}

    <div class="post-list">

        <section class ="first-post-box">
            <div class="container">
                
                <div class="post-info-box">
                    <h3>title</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptas alias sapiente fugiat repellendus et, unde culpa tenetur aut possimus modi explicabo molestiae asperiores ratione nihil, cumque natus aperiam debitis.</p>
                    <button>READ MORE</button>
                </div>
                
                <div class="thumbnail-img">
                    <img>
                </div>

            </div>
        </section>

        <main class="post-box">
            <div class="container">
    
                {% for blog in blogs %}
                <div class="card">
                    <div class="card-thumbnail-img">
                        <img>
                    </div>
    
                    <div class="card-info-box">
                        <p>{{ blog.upload_date | date:'Y-m-d H:i:s' }}</p>
                        <h3>{{ blog.title }}</h3>
                        <p>
                            {{ blog.content | striptags | linebreaksbr }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

    </div>

    {% include 'footer.html' %}

</body>
</html>
