{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"/>
    {% if theme == 'dark' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
      <div class="box-divider">
        {% comment %} 본문영역 {% endcomment %}
        <div class="big-box">
          <div class="post-info">
            <h5>{{ blog.upload_date | date:'Y m d'}} | {{ blog.count }} 조회</h5>
            <h1>{{ blog.title }}</h1>
            <h5>{{ blog.user.username }}</h5>
            <h5 class="topic-box">topic</h5>
          </div>
          <div class="post-content">{{ blog.content | safe }}</div>
        </div>
        {% comment %} 추천글 영역 {% endcomment %}
        <div class="small-box">
          <div>
            <h3>Other posts</br>you may like</h3>

              <div class="recommend-box">
                <a href="">
                  image
                    title</a>
                
              </div>

          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="button-box">
        <div class="box-divider" style="gap:10px">
          {% comment %} 수정버튼 {% endcomment %}
          <a href="">
            <button class="edit-button">수정하기</button>
          </a>
          {% comment %} 삭제버튼 {% endcomment %}
          <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="delete-button" value="true">
            <button type="submit" class="delete-button">삭제하기</button>
          </form>
        </div>
        {% comment %} 공유버튼 {% endcomment %}
        <button class="share-button">공유하기</button>
      </div>
      {% else %}
      <div class="button-box-unauth">
        <button class="share-button">공유하기</button>
      </div>
      {% endif %}
      <!-- 다음글 표시 -->
      {% if next_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div class="post-tag">다음글</div>
          <div class="post-name">
            <a href="">{{ next_post.title }}</a>
          </div>
        </div>
        <p>{{ next_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}

      <!-- 이전글 표시 -->
    {% if previous_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div class="post-tag">이전글</div>
          <div class="post-name">
            <a href="">{{ previous_post.title }}</a>
          </div>
        </div>
        <p>{{ previous_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}
    </div>
    {% include 'footer.html' %}
</body>

<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
  </script>
  
</html>