{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}"/>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
    <title>Board</title>
</head>
<body>
    
    {% include 'header.html' %}

    <div class="post-list">

        <section class ="first-post-box">
            <div class="container">
                <div class="post-info-box">
                    <a href="/board-detail/{{first_post.id}}">
                        <h3>{{first_post.title}}</h3>
                        <p>{{first_post.content | remove_img_tags | safe }}</p>
                    </a>
                    <button onclick="location.href='/board-detail/{{first_post.id}}'">READ MORE</button>
                </div>
                <div class="thumbnail-img">
                    <img href="/board-detail/{{first_post.id}}" src="{% static img %}">
                </div>
            </div>
        </section>

        <main class="post-box">
            <div class="container">
    
                {% for post in posts %}
                <div class="card">
                    <a href="/board-detail/{{post.id}}">
                        <div class="card-thumbnail-img">
                            <img src="{% static post.image_tag %}">
                        </div>
        
                        <div class="card-info-box">
                            <p>{{ post.upload_date | date:'Y-m-d H:i:s' }}</p>
                            <h3>{{ post.title }}</h3>
                            <p>
                                {{ post.content | remove_img_tags | striptags | linebreaksbr }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>

    </div>

    {% include 'footer.html' %}

</body>
</html>
