{% load static %}

<header class="nav-bar">
    <nav class="nav-container"> 
        <div class="logo_img">
            <div class="logo-wrap">
                {% if theme == 'dark' %}
                    <img src="{% static 'media/logo.svg' %}">
                {% else %}
                    <img src="{% static 'media/083.svg' %}">
                {% endif %}
                <div>
                    <a id="logo-text" href="/">WHYLOG</a>
                </div>
            </div>
        </div>
        <div class="row-box">
            <ul class="nav-topics">
                {% for topic in topics %}
                    <li class="nav-item"><a href="{% url 'board' topic.id %}">{{ topic.category }}</a></li>
                {% endfor %}
                
                {% comment %} <li class="nav-buttons"> {% endcomment %}
                {% if user.is_authenticated %}
                {% comment %} <li class="nav-item">
                    <a class="logout-button" href="/logout">Logout</a>
                </li> {% endcomment %}
                {% endif %}
                </li>
            </ul>
            {% if user.is_authenticated %}
                <button class="logout-button" onclick="location.href='/logout'">Logout</button>
                <button class="primary-button" onclick="location.href='/write'">Just Write!</button>
            {% else %}
                <button class="primary-button" onclick="location.href='/login'">Login</button>
            {% endif %}
        </div>
    </nav>
</header>