{% load static %}

<header class="nav-bar">
    <div class="logo_img">
        <img src="{% static 'media/logo.svg' %}">
        <h1 class="logo_text">MYLOG</h1>
    </div>
    <ul>
        <nav class="nav-container"> 
            <ul class="nav_ist">
                <li class="nav_item"><a href="">일상</a></li>
                <li class="nav_item"><a href="">요리</a></li>
                <li class="nav_item"><a href="">여행</a></li>
                <li class="nav_item"><a href="">영화</a></li>
                <li class="nav_item"><a href="">IT</a></li>
                <li class="nav-buttons"><button class="logout-button">login</button></li>
            </ul>
        </nav>
    </ul>
</header>