{% load static %}

<header class="nav-bar">
    <nav class="nav-container"> 
        <div class="logo_img">
            <div class="logo-wrap">
                {% if theme == 'dark' %}
                    <img src="{% static 'media/logo.svg' %}">
                {% else %}
                    <img src="{% static 'media/083.svg' %}">
                {% endif %}
                <div class="logo-text">
                    <h1 class="logo_text">MYLOG</h1>
                </div>
            </div>
        </div>
        <div class="row-box">
            <ul class="nav-topics">
                <li class="nav-item"><a href="">일상</a></li>
                <li class="nav-item"><a href="">요리</a></li>
                <li class="nav-item"><a href="">여행</a></li>
                <li class="nav-item"><a href="">영화</a></li>
                <li class="nav-item"><a href="">IT</a></li>
                <li class="nav-buttons">
                </li>
            </ul>
            {% if not user.is_authenticated %}
            <div class="primary-button">
                <button>Login</button>
            </div>
            {% else %}
            <div class="logout-button">
                <button>Logout</button>
            </div>
            <div class="primary-button">
                <button>Just Write!</button>
            </div>
            {% endif %}
        </div>
    </nav>
</header>