{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/writer.css' %}"/>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/header-dark.css' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}"/>
    {% endif %}
    <title>Write</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://cdn.tiny.cloud/1/cig4n9ujjp5wqsgk6jqk8pcfi03mazpxf0hb3h3tz9129744/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#content',
        images_upload_url: '{% url "image_upload" %}',
      });

      document.addEventListener('DOMContentLoaded', (event) => {
        // 이미지 업로드 후 에디터 내에 이미지 삽입
        document.getElementById('imageUpload').addEventListener('change', function() {
        let formData = new FormData();
        formData.append('file', this.files[0]);

        fetch('{% url "image_upload" %}', {
            method: 'POST',
            body: formData,
            headers: {
            'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(this.files[0].name);
            tinyMCE.activeEditor.insertContent('<img src="{% static "media/uploads/" %}' + this.files[0].name + '"/>');

        })
        .catch(error => console.error('Error:', error));
        });
    });

    </script>   
    
</head>
<body>
    
    {% include 'header.html' %}

    <section class ="main">
        <form id="post_write" method="POST" action="{% if edit_mode %}{% url 'write' post.id %}{% else %}{% url 'write' %}{% endif %}" enctype="multipart/form-data">
            <div class="post-write">
                {% csrf_token %}
                {{ form.media }}
                <div class="write-box">
                    <input
                      type="text"
                      id="title"
                      name="title"
                      class="title"
                      placeholder="제목"
                      value="{{ post.title }}"
                    />
                    
                    <textarea
                      id="content"
                      name="content"
                    >{{ post.content}}</textarea>
        
                  </div>

            </div>

            <aside>
                <div class="ai-auto-write">
                    <button>AI 글 자동완성</button>
                </div>

                <div class="topic-wrapper">
                    <div class="topic">TOPIC</div>
                    <div class="topic-list">
                        {% for topic in topics %}                          
                            <div class="topic-item">
                                <input type="radio" class="topic" name="topic" id="{{ topic.category }}"
                                {% if post.category_id == topic.id %}checked{% endif %}
                                value="{{ topic.id }}">
                                <label for="{{ topic.category }}">{{ topic.category }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="box">
                    <div class="info">
                    <h2>UPLOAD INFO</h2>
                    <p>공개여부: 
                        <label for="in_private"><input type="checkbox" name="in_private" 
                            {% if post.in_private %} checked {% endif %}
                            id="in_private">비공개</label></p>
                    <input type="file" name="file" id="imageUpload" style="display:none;">
                    <button type="button" class="button-line" onclick="document.getElementById('imageUpload').click();">이미지 업로드</button>
                    </div>
                    <div class="save-box">
                        <div class="save-button-wrapper">
                        {% if edit_mode %}
                            <input type="submit" name="delete-button"  class="temp-save-button" value="삭제"/>
                            <input type="submit" class="save-button" value="수정"/>
                        {% else %}
                            <input type="submit" name="temp-save-button" class="temp-save-button" value="임시저장" />
                            <input type="submit" name="save-button" class="save-button" value="글 작성" />
                        {% endif %}
                        </div>
                    </div>
                </div>
            </aside>

        </form>
    </section>

    {% include 'footer.html' %}

</body>
<script src="{% static 'js/notification.js' %}" defer></script>
<script src="{% static 'js/write.js' %}" defer></script>
</html>
